*.d
*.o
*.art
*.bom
*.do
*.dat
*.dmp
*.eep
*.elf
*.hex
*.jrl
*.map
*.lst
*.lss
*.ls
*.swp
*.sym
*~
*,1
*,2
*,3
*.opj
*.swo
*.dsnlck
*.lck
Transcode Report.txt
*.log
*.exe
*.sm8
kk
kk.txt
*.dml
*.iml
*.did
*.copy
*.tag
*.tmp
*.sts
*.run
*.dbk
art_param.txt
eco.txt
nc_param.txt
ncroutebits_auto.txt
pxlBA.txt
.dep
*.layout
null.dra
*.sav
*.obk
*.rtcomp
*.drl
*.rou
*.pyc
*.spec
build
dist
*.lds
*.aux
~$*
*.asm
*.ihx
*.lk
*.mem
*.map
*.rel
*.rst
main.hex.bin
*.dxf
*.dwg
*.bdf
*.ldf
*.cnv
*.config
*.step
*copy)
latex
nul
__doxygen
.gitignore
*.pydevproject
main_rom.bin
.project
.cproject
.settings
*.bin
*.t
TAGS
